@import url('https://fonts.googleapis.com/css2?&family=Archivo&family=Poppins:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans&family=Grandstander:wght@900&family=Rubik+Doodle+Shadow&family=Rubik+Doodle+Shadow&display=swap');

:root{
    --bg: rgb(255, 255, 255);
    --textcolor: rgb(30, 30, 30);
    --btn: rgb(177, 208, 233);
    --btn-select: rgb(243, 210, 148);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout{
    font-family: "Grandstander", "Helvetica Neue", sans-serif;
}

h1{
    font-size: 100px !important;
    color:  #ff3d8e !important;
}

h2{
    font-size: 50px !important;
    margin-top: -30px !important;
}

p{
    font-family: "Poppins", "Helvetica Neue", sans-serif;
    font-weight:bold;
    font-size: 20px;
}

.menu{
    min-height: 20px;
}

.menu a{
    font-size: 25px;
    text-decoration:none;
    color: black;
    margin-bottom: 5px;
}

.menu a:hover{
    font-size: 30px;
    margin-top: -5px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #ff3d8e;
}

.link{
    min-height: 50px;
}

.link a{
    color: black;
}

.link a:hover{
    color: #ff3d8e;
}

.socialicon{
    color: #ff3d8e;
}

.section{
    padding-left: 20%;
    padding-right: 20%;
}

 /* For Youtube embeds */
 .video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9  ratio*/
    height: 0;
    overflow: hidden;
    /* display: inline-block !important; */
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#insta{
    background-image: url("../../public/images/instagram.png");
    background-size: contain;
}

#insta:hover{
    background-image: url("../../public/images/instagram1.png");
    background-size: contain;
    cursor:pointer !important;
}

#mail{
    background-image: url("../../public/images/mail.png");
    background-size: contain;
}

#mail:hover{
    background-image: url("../../public/images/mail1.png");
    background-size: contain;
    cursor:pointer !important;
}

#youtube{
    background-image: url("../../public/images/youtube.png");
    background-size: contain;
}

#youtube:hover{
    background-image: url("../../public/images/youtube1.png");
    background-size: contain;
    cursor:pointer !important;
}

#linkedin{
    background-image: url("../../public/images/linkedin.png");
    background-size: contain;
}

#linkedin:hover{
    background-image: url("../../public/images/linkedin1.png");
    background-size: contain;
    cursor:pointer !important;
}


