.container {
    /* margin-left: 0px !important;
    margin-right: 0px !important; */
    margin: 0;
    min-width: 100vw !important;
    font-family: monospace;
    text-align: center;
    
}

.heading {
    color: black;
 }

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-left: 2rem;
    padding-top: 2rem;
}
.nav-link-text {
    color: black;
}

img{
    object-fit: contain !important;
}

.gallerycell{
    background-size: cover; 
    height: 50vh;
    cursor: pointer; 
}